@{
    ViewBag.Title = "Home Page";
}
<div id="header">
    <a href="#">全部问题</a>
</div>
<div id="wrapper">
    <div id="scroller">
        <div id="pullDown" class="idle">
            <span class="pullDownIcon"></span>
            <span class="pullDownLabel">下拉更新提问</span>
        </div>

        <ul id="thelist">
            <li>
                <div style="width: 50px;padding:5px;float:left;">
                    <img src="http://img1.ciwong.net/uidimg_default/80010/50" style="width:30px;border-radius:50px;border:1px solid #ccc;" />
                </div>
                <div style="margin-left: 50px; width: 250px; float: left; ">
                    <div>
                        <span>岳小云</span>
                        <span>男</span>
                        <span>40秒前</span>
                    </div>
                    <div>nanannnananana</div>
                    <div>
                        <span>初一 数学</span>
                        <span>2回答</span>
                    </div>
                </div>
                <div class="clearfix"></div>
            </li>
        </ul>
        <div id="pullUp" class="idle">
            <span class="pullUpIcon"></span>
            <span class="pullUpLabel">松开即可更新</span>
        </div>
    </div>
</div>
<div id="footer"></div>